hr {
    height: 4px;
    color: rgb(28, 72, 218);
}

h1 {
    color: black;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 30px;
    margin-top: 610px;
}

h2 {
    color: black;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 80px;
    line-height: 5px;
}

h3 {
    color: black;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 30px;
}

h4 {
    color: forestgreen;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 40px;
}

h5 {
    color: rgb(1, 16, 58);
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 40px;
}

h6 {
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
}

h7 {
    color: black;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 20px;
}

body {
    background-image: url('./src/BKG.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px;
}

img {
    width: 500px;
    position: center;
}

#mySidenav a {
    position: absolute;
    left: -10px;
    transition: 0.3s;
    padding: 2px;
    width: 110px;
    font-family: "Comic Sans MS";
    background-image: url('./src/BTN.png');
    background-color: #f44336;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(1, 16, 58);
    text-decoration: none;
    color: black;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
}

#mySidenav a:hover {
    left: 0;
}

#home {
    top: 20px;
}

#custom {
    top: 50px;
}

#contact {
    top: 80px;
}

#all_blasters {
    top: 110px;
}

#regulator {
    top: 140px;
}

#raptorstrike {
    top: 170px;
}

#retaliator {
    top: 200px;
}

#spectrum {
    top: 230px;
}

#blitzfire {
    top: 260px;
}

#firestrike {
    top: 290px;
}

#volt {
    top: 320px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 500px;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: "Segoe UI";
        text-align: center;
        font-size: 20px;
        overflow: hidden;
        padding: 5px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 30px;
        font-weight: bold;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-0lax {
        text-align: center;
        vertical-align: top
    }